*
  box-sizing: border-box
.images-gallery-cpm
  width: 100%
  height: 100%
  border: solid 1px darkcyan
.images-gallery
  width: 600px
  height: 500px
  border: solid 2px red
  margin: 5px auto
  display: flex
  //flex-wrap: wrap
  .image-item
    max-width: 100%
    max-height: 100%
