<template>
  <div class="images-gallery-cpm">
    <div class="images-gallery">
      <img id="i1" class="image-item" src="../assets/i1.jpeg"/>
      <img id="i2" class="image-item" src="../assets/i2.jpeg"/>
    </div>
    <div class="info">
      {{place}}
    </div>
    <div class="info" v-for="info in images">
      {{info}}
    </div>
  </div>
</template>

<script>
export default {
  data(){return {
    place: {width: 0, height: 0, area: 0},
    images: [],
  }},
  mounted(){
    setTimeout(this.imagesInfo,1000);
  },
  methods: {
    imagesInfo: function () {
      let imagesElements, placeElement;

      imagesElements = document.getElementsByClassName('image-item');

      this.images = [];
      for (let imageElement of imagesElements) {
        this.images.push({
          width:  imageElement.offsetWidth,
          height: imageElement.offsetHeight,
          area:   imageElement.offsetWidth * imageElement.offsetHeight
        });
      }

      placeElement = document.getElementsByClassName('images-gallery')[0];

      this.place.width = placeElement.offsetWidth;
      this.place.height = placeElement.offsetHeight;
      this.place.area = placeElement.offsetWidth * placeElement.offsetHeight;
    }
  }
}
</script>

<style lang="sass">
@import "../sass/image-gallery"
</style>
