<template>
  <div id="app" class="app">
    <image-gallery></image-gallery>
  </div>
</template>

<script>
import ImageGallery from './components/image-gallery'

export default {
  name: 'App',
  components: {
    ImageGallery
  }
}
</script>
